table {
    border: solid;
    td {
        width: 55px;
    }
    tr {
        height: 28px;
    }
    textarea {
        max-width: 290px;
        min-width: 290px;
        min-height: 110px;
        max-height: 110px;
        overflow-y: scroll;
        background-color: #b5b5bb;
    }
}

button {
    width: 50px;
    height: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px 0px #000125, inset 4px 4px 15px 0px #0002fb, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 4px 4px 4px 0px #000125, inset 4px 4px 15px 0px #0002fb, 5px 5px 15px 5px;
    cursor: pointer;
    border: none;

    &:hover {
        margin: 1px;
        -webkit-box-shadow: 5px 5px 5px 0px #000125, inset 4px 4px 15px 0px #0002fb, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 4px 4px 4px 0px #ca4937, inset 4px 4px 15px 0px #fb4f00, 5px 5px 15px 5px;
    }

}

#equally {
    height: 50px;
}

#zero {
    width: 112px;
}

input {
    width: 97%;
    height: 56px;
}
