.footer{
    min-width: 650px;
    height: 70px;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
    position: fixed; 
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;       

    div {
        margin: 10px;

        a {
            text-decoration: none;
            color: black;
            background-color: rgba(100, 96, 96, 0.664);
        }

    }

}