.border {
    background-color: aqua;
    height: 20px;
}

#noimage {
    background-image: none;
}

tr {
    height: 50px;
}

td {
    width: 50px;
    text-align: center;

}

#black {
    background-color: black;
}

.black {
    background-color: black;
}

#td20 {
    width: 20px;
    background-image: none;
}

.chess {
    background-image: url("./chess.png");
    background-repeat: no-repeat;
}

#bking {
    background-position: 7px 0px;
}

#wking{
    background-position: 7px -50px;
} 