@import "./var.scss";

.wrapper {
    height: 200px;
    background-color: coral;
    @extend %bloks;

    span {
        color: red;
    } 

    &__child {
        height: 100px;
        background-color: crimson;
        @extend %bloks;

        span {
            @include fontZ(50px, royalblue);
        }

        &:hover {
            background-color: sandybrown;
        }

    }

}

// .container {
//     margin-top: 200px;
// }
