* {
    margin: 0;
}

.wrapper {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 5px; */
    /* grid-column-gap: 5px; */
    /* column-gap: 10px;
    row-gap: 5px; */
    grid-auto-rows: minmax(250px, auto);
}

.child {
    background-color: aquamarine;
    padding: 5px;
    border: 1px solid;
}

.second_child {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
}

#header {
    background-color: blueviolet;
    grid-column: 1/4;
}

#footer {
    background-color: brown;
    grid-column: 1/4;
}