/* button {
    height: 100px;
    width: 300px;
    margin: 20px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 90px;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(228,255,22,1) 35%, rgba(54,0,255,1) 54%, rgba(0,255,57,1) 75%, rgba(233,148,225,1) 100%); 
    -webkit-box-shadow: 41px 33px 7px -12px rgba(29, 61, 186, 0.2);
    -moz-box-shadow: 41px 33px 7px -12px rgba(29, 61, 186, 0.2);
    box-shadow: 41px 33px 7px -12px rgba(29, 61, 186, 0.
    cursor:po
} */

table {
    /* background: url("../../HomeTasks/3/pic/symbol.png"); */
    background-size: 100%;
    background-repeat: round;
}

td {
    width: 50px;
}