@import './header.scss';
@import './content.scss';
@import './footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pacifico&display=swap');

* {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.mainClass {
    min-width: 650px;
}
