<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <div class="mainClass">

        <div class="header">
            <div class="logo">
                <img src="./src/assets/img/htmlcssjs.png" alt="">
            </div>
            <div class="siteName">
                <span>FD1-09-21 HTML/CSS, JS</span>
            </div>
        </div>

        <div class="content">
            <div class="formUp">
                <form id="form">
                    <div class="input">
                        <div>
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div>
                            <label for="username">User name</label>
                            <input type="text" id="username">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id="password">
                        </div>
                        <div>
                            <label for="bday">B-day</label>
                            <input type="date" id="bday">
                        </div>
                    </div>
                    <div class="genderChoose">
                        <div>
                            <input type="radio" name="genderChoose" id="male" checked>
                            <label for="male">male</label>
                        </div>
                        <div>
                            <input type="radio" name="genderChoose" id="female">
                            <label for="female">female</label>
                        </div>
                    </div>
                    <div class="inpit">
                        <button type="submit">Submit</button>
                        <div><a href="sign-in.html">Already have an account?</a></div>
                    </div>
                </form>
            </div>
            <div class="mainPic">
                <img src="./src/assets/img/backMain.png" alt="" id="mainPic">
            </div>
        </div>
        
        <div class="footer">
            <div><a href="https://www.gomel.it-academy.by/">IT-academy</a></div>
            <div><a href="https://gomel.iteen.by/">ITeen academy</a></div>
            <div><a href="https://gomel.openit.by/">OPEN IT</a></div>
            <div><a href="https://www.openitkids.by/">OPEN IT kids</a></div>
            <div><span>Mentoring by Aliaksei Kliashchou</span></div>
            <div><span>© Mikhail Hasilau</span></div>
        </div>
    </div>
</body>
</html>