<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div class="mainClass">
        
        <div class="header">
            <div class="logo">
                <img src="./src/assets/img/htmlcssjs.png" alt="">
            </div>
            <div class="siteName">
                <span>FD1-09-21 HTML/CSS, JS</span>
            </div>
        </div>

        <div class="content">
            <div class="formAndText">
                <div class="mainText">
                    <p>Welcome to the final project website. This site is analogous to Twitter or LiveJournal on "minimal".</p> 
                    <p>Sit back and prepare your questions.</p>
                    <p>It won't be long.</p>
                </div>
                <div class="formIn">
                    <form id="form">
                        <div class="formStyle">
                            <div><label for="email">Enter e-mail address to log in</label></div>
                            <input type="email"id="email">
                        </div>
                        <div class="formStyle">
                            <div><label for="password">Enter password</label></div>
                            <input type="password"id="password">
                        </div>
                        <button type="submit">Let's go!</button>
                        <div><a href="./sign-up.html">Still don't have an account?</a></div>
                    </form>
                </div>
            </div>
            <div class="mainPic">
                <img src="./src/assets/img/backMain.png" alt="" id="mainPic">
            </div>
        </div>
        
        <div class="footer">
            <div><a href="https://www.gomel.it-academy.by/">IT-academy</a></div>
            <div><a href="https://gomel.iteen.by/">ITeen academy</a></div>
            <div><a href="https://gomel.openit.by/">OPEN IT</a></div>
            <div><a href="https://www.openitkids.by/">OPEN IT kids</a></div>
            <div><span>Mentoring by Aliaksei Kliashchou</span></div>
            <div><span>© Mikhail Hasilau</span></div>
        </div>
    </div>
</body>
</html>
