* {
    margin: 0;
}

a {
    text-decoration: none;
}

#spansignin {
    margin-bottom: 10px;
}

span, label {
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
    text-align: center;
    color: white;
    text-shadow: black 0 0 6px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-auto-columns: min-content;
    gap: 10px;
    height: 100%;
}

.header {
    height: 70px;
    background-image: url("../pic/backgr.jpg");
    grid-column: 1/4;
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: 3fr 18fr 2fr;
}

#logo img {
    height: 70%;
}

#logo {
    animation: spin 1s linear infinite;
}

.footer {
    height: 70px;
    background-image: url("../pic/backgr.jpg");
    grid-column: 1/4;
    border-radius: 10px 10px 0 0;
}

#doc {
    width: 100%;
    height: 100%;
}

#signup {
    margin-top: 25px;
}

#maxwidth {
    text-align: center;
}
