* {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-auto-columns: min-content;
    gap: 10px;
    background-color: burlywood;
    height: 100%;
}

.header {
    height: 70px;
    /* background-color: rgb(39, 130, 248); */
    background-image: url("../pic/backgr.jpg");
    grid-column: 1/4;
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    
}

.footer {
    height: 70px;
    /* background-color: rgb(39, 130, 248); */
    background-image: url("../pic/backgr.jpg");
    grid-column: 1/4;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
}

iframe {
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
/* #content {
    height: 85vh;;
} */
=======
#content {
    height: 85vh;;
}
>>>>>>> 6b493da2b79b8eb7370b8f981a105b8b4b9813ff
