.redblock {
    background-color: red;
}

.blackblock {
    background-color: black;
}

.yellowblock {
    background-color: yellow;
}

.greenblock {
    background-color: green;
}

.blueblock {
    background-color: blue;
}
