body {
    min-width: 400px;
}

/* .main_block {
    position: relative;
} */

.header {
    display: flex;
    height: 50px;
    background-color: rgb(59, 139, 214);
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

.logo img {
    height: 50px;
}

.auth {
    align-self: center;
}

.auth button{
    border: 1px solid;
    border-radius: 10px;
    height: 40px;
    align-self: center;
}

.content {
    display: flex;
    /* height: 100%; */
    /* overflow-y: scroll; */
}

.form_in {
    flex-basis: 30%;
    display: flex;
    max-height: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#btns {
    display: inline-block;
}

.content p {
    padding: 5px;
    text-align: justify;
}

.text {
    overflow-y: scroll;
}

.footer p{
    line-height: 0.2;
    padding-top: 1px;
}

.footer {
    background-color: rgb(59, 139, 214);
    border-radius: 10px 10px 0px 0px;
	/* position: fixed; 
	bottom: 0; */
	height: 90px;
    width: 100%;
    padding: 10px;

}

.text {
    height: 100%;
    flex-basis: 50%;
}