body {
    min-width: 1000px;
}

.main {
    height: 500px;
}

.header {
    height: 80px;
    display: flex;
    padding: 0px 30px;
    background-image: url("./pic/back.png");
}

.content {
    height: 800px;
    display: flex;
}

.logo {
    width: 20%;
}

#logo {
    max-width: 360px;
}

#logo1 {
    max-width: 360px;
}

.data {
    width: 20%;
    display: flex;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5% 0 0;
}

img {
    height: 100%;
    width: 100%;
}

button {
    width: 80%;
    height: 80%;
}

.but {
    width: 25%;
}

.con_left {
    width: 25%;
    height: 100%;
    padding: 10px;
}

.con_center {
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    justify-content: stretch;
    overflow-y: scroll;
}

.con_center img {
width: 320px;
height: 168px;
float: left;
}

.con_right {
    width: 25%;
    justify-content: space-between;
    justify-content: stretch;
    overflow-y: scroll;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer_p {
    font-size: x-small;
}

.social img {
    width: 70px;
    height: 70px;
}

p {
    width: 100%;
    text-align: justify;
}

#av {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    min-height: 80px;
}

span, p {
    font-family: 'Lobster', cursive;
}

#partners {
    font-size: x-large;
    color: aqua;
}
