/* div {
    border: 1px solid;
    padding: 15px;
    margin: 50px;
} */

.wrapper {
    /* display: flex; */
    width: 50%;
    /* height: 300px; */
    padding: 20px;
    margin: 20px;
    
    background-color: aqua;
}

input {
    display: block;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 250px;
}

.buttons {
    display: flex;

}

.buttons button {
    margin-right: 5px;
}

.gender_btns {
    border: 1px solid;
    margin: 20px;
    margin: 0 5;
}

.gender_btns input, .chkbx_btns input{
    display: inline-block;
}


/* .wrapper div {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
}

@media (max-width: 1400px) {
    .wrapper div{
        flex-direction: column; 
        min-width: 480px;
        background-color: chocolate;
        width: 400px;
        background-color: brown;
    }
}

@media (max-width: 800px) {
    .wrapper div {
        width: 200px;
        border-radius: 50%;
        background-color: chartreuse;
    }
} */