.wrapper {
    height: 150px;
    border: 1px solid;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    min-width: 720px;
}

span {
    font-size: 140px;
    color: white;
    -webkit-text-stroke: 1px black;
    position: relative;
    bottom: 20%;
}

.wrapper:hover span {
    color: gold;
}

.wrapper span:hover ~ span {
    color: white;
}
