.header { height: 70px; background-color: aqua; border-radius: 0 0 10px 10px; display: grid; grid-column: 1/4; grid-template-columns: 70px 11fr 1fr; }
.header .logo img { width: 100%; }

textarea { resize: none; width: 500px; height: 70px; }

.footer { min-width: 650px; height: 70px; background-color: aqua; border-radius: 10px 10px 0 0; position: fixed; bottom: 0; width: -webkit-fill-available; }

* { margin: 0; }

.mainClass { min-width: 650px; }
