.main_wrapper {
    background-color: red;
    height: 400px;
    width: 70%;
    border: solid;
    border: 3px dotted yellow;
}

.main_wrapper_content {
    border: 2px solid black;
    padding: 5px;
}